In [1]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("\nOriginal DataFrame:\n",info)
print("\nSquare root of DataFrame:\n",info.apply(np.sqrt))
print("\nSum of each coloumn:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:


Original DataFrame:
    P  Q
0  2  7
1  2  7
2  2  7

Square root of DataFrame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each coloumn:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [2]:
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns=['X','Y','Z'])
print("\nOriginal DataFrame:\n",info)
print("\nMinimum and Maximum of each column:\n")
print(info.agg(['min','max']))

Original DataFrame:
    X  Y  Z
0  1  5  7
1  2  7  8
2  3  6  9

Minimum and Maximum of each column:

     X  Y  Z
min  1  5  7
max  3  7  9

In [3]:
print("\nFrame.Assign function:\n")
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
print("\nOriginal DataFrame:\n",d2)
d2['age']=[35,40]
print("\nAdding new column:\n",d2)
d=d2.assign(Sex=['Male','Female'])
print("\nAdding new column:\n",d)

Frame.Assign function:


Original DataFrame:
     Emp   ID
0  Dale  123
1  Mark  143

Adding new column:
     Emp   ID  age
0  Dale  123   35
1  Mark  143   40

Adding new column:
     Emp   ID  age     Sex
0  Dale  123   35    Male
1  Mark  143   40  Female

In [4]:

print("\nDataFrame.sortfunction:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print("\nSort index:\n",info2)
info3=info.sort_values(by='col3')
print("\nsort values:\n",info3)

DataFrame.sortfunction:

       col3      col4
3 -1.129574  0.584245
2 -1.129844 -1.206718
0  0.622419  0.473518
4  0.635193  0.579396
1 -1.037754  0.534458

Sort index:
        col3      col4
0  0.622419  0.473518
1 -1.037754  0.534458
2 -1.129844 -1.206718
3 -1.129574  0.584245
4  0.635193  0.579396

sort values:
        col3      col4
2 -1.129844 -1.206718
3 -1.129574  0.584245
1 -1.037754  0.534458
0  0.622419  0.473518
4  0.635193  0.579396

In [5]:
print("\nDataFrame.Sort function:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print("\nSorting index:\n",info2)
info3=info.sort_values(by='col3')
print("\nSort values:\n",info3)

DataFrame.Sort function:

       col3      col4
3 -0.168392 -0.866650
2 -0.052939  0.392460
0  0.917696 -0.603547
4  0.855606 -0.626167
1  0.662195  0.552727

Sorting index:
        col3      col4
0  0.917696 -0.603547
1  0.662195  0.552727
2 -0.052939  0.392460
3 -0.168392 -0.866650
4  0.855606 -0.626167

Sort values:
        col3      col4
3 -0.168392 -0.866650
2 -0.052939  0.392460
1  0.662195  0.552727
4  0.855606 -0.626167
0  0.917696 -0.603547