In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("Dropped DateFrame with\n",df.dropna())
print("\n")

Original DataFrame with NaN
         one       two     three
a -1.075817  2.207804 -1.247001
b       NaN       NaN       NaN
c  1.080954 -0.017576 -0.202249
d  1.192474  0.685193 -0.518269
e       NaN       NaN       NaN
f  0.251719  0.711859  1.129473


Dropped DateFrame with
         one       two     three
a -1.075817  2.207804 -1.247001
c  1.080954 -0.017576 -0.202249
d  1.192474  0.685193 -0.518269
f  0.251719  0.711859  1.129473

In [2]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))

Original DataFrame:
         one       two     three
a  0.100406  1.052548 -1.245007
b       NaN       NaN       NaN
c -1.001239  1.100743  2.376961
d -1.831359 -0.759720 -0.013953
e       NaN       NaN       NaN
f  1.309520 -1.098434 -1.059205


NaN replaced with '0':

        one       two     three
a  0.100406  1.052548 -1.245007
b  0.000000  0.000000  0.000000
c -1.001239  1.100743  2.376961
d -1.831359 -0.759720 -0.013953
e  0.000000  0.000000  0.000000
f  1.309520 -1.098434 -1.059205

In [3]:
df=f=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print("Original Dataframe:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original Dataframe:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [4]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\nNan-with True fill:\n")
print(df['one'].isnull())

Original DataFrame:
         one       two     three
a  0.892993 -0.883052  0.362363
b       NaN       NaN       NaN
c -1.512294  0.773017  1.163008
d  0.816052 -0.475811  1.149879
e       NaN       NaN       NaN
f -0.761415  1.069090  0.334981

Nan-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [6]:
 df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\nNan-Filled with the Background value:\n")
print(df.fillna(method='bfill'))

Original DataFrame:
         one       two     three
a  0.638287  0.048721 -1.148289
b       NaN       NaN       NaN
c  0.027644 -1.223990 -0.520219
d  1.117269 -0.565986  1.702949
e       NaN       NaN       NaN
f -0.440096  0.498101 -0.253282

Nan-Filled with the Background value:

        one       two     three
a  0.638287  0.048721 -1.148289
b  0.027644 -1.223990 -0.520219
c  0.027644 -1.223990 -0.520219
d  1.117269 -0.565986  1.702949
e -0.440096  0.498101 -0.253282
f -0.440096  0.498101 -0.253282